$background: #DAD7CD;
$primary: #5E503F;
$secondary: #22333B;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #ba0210;
$transparent: #FFFFFF00;
$transparentWhiteAa: #FFFFFF33;
$transparentBlack55: #00000055;

$white: #FFF;
$black: #000;
$black0a: #0A0908;
$black33: #333;

$blue: #4F759B;
$blue5c: #5ce1ff;

$brown: #C6AC8F;
$brownLight: #EAE0D5;

$green: #538d22;
$greenA3: #A3B18A;
$green3a: #3A5A40;
$greenDark: #344E41;

$purple57: #571F4E;
$purple5d: #5D5179;
