// vh
$sizeVh100: 100vh;

// vw
$sizeVw100: 100vw;

// per
$sizeFull: 100%;
$sizeHalf: 50%;

// px
$size0: 0px;
$size1: 1px;
$size2: 2px;
$size3: 3px;
$size4: 4px;
$size5: 5px;
$size8: 8px;
$size10: 10px;
$size12: 12px;
$size14: 14px;
$size15: 15px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$size28: 28px;
$size30: 30px;
$size35: 35px;
$size40: 40px;
$size50: 50px;
$size100: 100px;
$size120: 120px;
$size150: 150px;
$size200: 200px;
$size300: 300px;
$size500: 500px;
$size600: 600px;
$size900: 900px;