@import './dimensions.scss';

.fontIncons16 {
    font-family: 'Inconsolata', monospace;
    font-size: $size16;
}

.fontIncons20 {
    font-family: 'Inconsolata', monospace;
    font-size: $size20;
}

.fontIncons28 {
    font-family: 'Inconsolata', monospace;
    font-size: $size28;
}