@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";

.root {
  display: flex;
  align-items: center;
  background-color: $background;
  justify-content: space-between;
  padding: $size20;
  position: fixed;
  width: $sizeFull;

  .logoContainer {
    width: $sizeFull;
  }
  
  .title {
    font-size: $size24;
    font-weight: 600;
    text-align: center;
  }
  
  .iconMenu {
    color: $black0a;
    font-size: $size30;
  }
}
